# server port
PORT=3000


# ----------------
# auth
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=1d

# ----------------
# NODE_ENV
# Set environment mode:
# - development: local development
# - production: deployed environment
NODE_ENV=development


# ----------------
# CORS
# allowed frontend origin (frontend(who) can call this API)

# for development
CORS_ORIGIN=http://localhost:5173

# for production (replace with your deployed frontend URL)
# CORS_ORIGIN=https://YOUR-FRONT-END-DOMAIN.com


# ----------------
# database URL
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

# local Docker development
# DATABASE_URL=postgresql://postgres:prisma@postgres_db:5432/postgres