# server
PORT=3000

# auth
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=1h

DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

# database (local Docker development)
# DATABASE_URL=postgresql://postgres:prisma@postgres_db:5432/postgres