# dependencies
node_modules/

# environment variables
.env
.env.prod

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# build output
dist/
build/

# logs
*.log

# test coverage
/coverage

# typescript
tsconfig.tsbuildinfo

# prisma
/src/generated/prisma

# nvm 
.nvmrc
/src/_config/
